div header .menu{
    font-size: 5rem;
}



/* social media  */
div ul div .social-btn:hover .name{
    opacity: 1;
    transform: translateY(7px);
    transition: all 0.6s;
}


@keyframes slideIn {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}
.animate-slideIn{
    animation: slideIn 1s ease-out;
}

