/* Home social media  */
div div div ul li a .social{
    width: 50px;
    height: 50px;
    position: relative;
    top: 9%;
    left: 8%;

}
div div div ul li a{
    display: block;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 40%;

}

.insta-hover:hover .insta {
    color: #d30120;
    transition: color 0.7s ease;
}
.insta:hover{
    transition: color 0.7s ease;
    color: #d30120;
    color: -webkit-linear-gradient(0deg, #ff0026 0%, #b32fff 100%);
    color: linear-gradient(0deg, #ff0026 0%, #b32fff 100%);
}

.yout-hover:hover .youtube{
    transition: color 0.7s ease;
    color: #e70325;
}
.youtube:hover{
    transition: color 0.7s ease;
    color: #e70325;
}

/* .fb:hover, .linkedIn:hover{
    transition: color 0.7s ease;
    color: #000ed6;
}
.telegram:hover{
    transition: color 0.7s ease;
    color: #2837ff;
} */
.git-hover:hover .git{
    transition: color 0.7s ease;
    color:rgb(68, 68, 68);
}
.git:hover{
    transition: color 0.7s ease;
    color:rgb(68, 68, 68);
}


.link-hover:hover .linkedIn{
    transition: color 0.7s ease;
    color: #000ed6;
}
.linkedIn:hover{
    transition: color 0.7s ease;
    color: #000ed6;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    div div div ul li a .social{
        width: 100px;
        height: 100px;
        top: 0%;
        left: 2%;
    }
    div div div ul li a{
        width: 105px;
        height: 105px;
    }

    .insta{
        color: #d30120;
        transition: color 0.7s ease;
    }
    .linkedIn{
        transition: color 0.7s ease;
        color: #000ed6;
    }
    .youtube{
        transition: color 0.7s ease;
        color: #e70325;
    }
  

}
@media screen and (min-width:640px) and (max-width:768px) {
    div div div ul li a .social{
        width: 90px;
        height: 90px;
        top: 1%;
        left: 4%;
    }
    div div div ul li a{
        width: 95px;
        height: 95px;
    }

    .insta{
        color: #d30120;
        transition: color 0.7s ease;
    }
    .linkedIn{
        transition: color 0.7s ease;
        color: #000ed6;
    }
    .youtube{
        transition: color 0.7s ease;
        color: #e70325;
    }
}
@media screen and (max-width:640px) {
    div div div ul li a .social{
        width: 70px;
        height: 70px;
        top: 3%;
        left: 5%;
    }
    div div div ul li a{
        width: 75px;
        height: 75px;
    }

    .insta{
        color: #d30120;
        transition: color 0.7s ease;
    }
    .linkedIn{
        transition: color 0.7s ease;
        color: #000ed6;
    }
    .youtube{
        transition: color 0.7s ease;
        color: #e70325;
    }
}





/* skills bar animation */
@keyframes fillBar80 {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}
.animated-bar80 {
    animation: fillBar80 1.5s ease-in-out forwards;
}

@keyframes fillBar70 {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}
.animated-bar70 {
    animation: fillBar70 1.5s ease-in-out forwards;
}

@keyframes fillBar60 {
    from {
        width: 0;
    }
    to {
        width: 60%;
    }
}
.animated-bar60 {
    animation: fillBar60 1.5s ease-in-out forwards;
}
@keyframes fillBar100 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.animated-bar100 {
    animation: fillBar100 1.5s ease-in-out forwards;
}

@keyframes fillBar40 {
    from {
        width: 0;
    }
    to {
        width: 40%;
    }
}
.animated-bar40 {
    animation: fillBar40 1.5s ease-in-out forwards;
}


/* fade-in animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 1s ease-in-out;
}
.animate-fade-in2 {
    animation: fade-in 1.3s ease-in-out;
}


/* home image animation */
@keyframes spin {
    0% {
        border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
      }
    33% {
        border-radius:  9% 91% 20% 80% / 61% 35% 65% 39%; 
      }
    72%{
        border-radius: 45% 55% 35% 65% / 82% 59% 41% 18% 
    }
    100% {
        border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
      }
}

@keyframes aboutMePicSpin {
    0% {
        border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
      }
    33% {
        border-radius:  9% 91% 20% 80% / 61% 35% 65% 39%; 
      }
    72%{
        border-radius: 45% 55% 35% 65% / 82% 59% 41% 18% 
    }
    100% {
        border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
      }
}


@keyframes imgRotate {
    0% {
        opacity: 0;
        transform: scale(1) rotate(18deg) translateX(150px);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2) rotate(9deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg) translateX(0);
    }
}
.animate-rotate-img{
    animation: imgRotate 0.7s 0.7s linear forwards;
    transition: opacity ease-in-out;
}




/* about */
@keyframes aboutRotate {
    0% {
        opacity: 0;
        transform: scale(1) rotate(-1deg);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.1) rotate(-0.5deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}
.animate-rotate-about{
    animation: aboutRotate 0.7s linear;
    transition: opacity ease-in-out;
}


/* Navlinks phone animations */
@keyframes menuAnimation{
    0%{
        transform: translateY(100%);
        scale: 1.4;
        opacity: 0;
    }
    100%{
        scale: 1;
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-responsive-menu1{
    animation: menuAnimation 0.8s ease-out;
}
.animate-responsive-menu2{
    animation: menuAnimation 0.7s 0.3s ease-out forwards;
}
.animate-responsive-menu3{
    animation: menuAnimation 0.7s 0.6s ease-out forwards;
}
.animate-responsive-menu4{
    animation: menuAnimation 0.7s 0.9s ease-out forwards;
}
.animate-responsive-menu5{
    animation: menuAnimation 0.7s 1.2s ease-out forwards;
}
.animate-responsive-menu6{
    animation: menuAnimation 0.7s 1.5s ease-out forwards;
}




